@import '../styles/global';

//$footer-height: 100px;
.container {
    .footer {
      background-color: $color-pallet-footer;
    /* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  //height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
      div {
        padding: 20px;
      }
      h4{
        color: #e5a191;
        line-height: 3em;
        font-size:18pt;
      }
      .footerlinks {
        color: white;
        border-bottom: 2px solid #e6a192;
        font-size: 16pt;
        padding-bottom: 1px; 
        text-decoration: none;
      }
      ul {
        margin-top: 110px;
      }
      ul li {
        list-style: none;
        display: inline-block;
        margin: 15px;
        padding: 5px;
        font-size: 14pt;
        margin-left: 50px;
      }
      ul li a{
          color: white;
          text-decoration: none;
          
      }
      ul li a:hover {
        color: #e5a191;
      }
     
    }

}
