@import '../styles/global';

.banner {
  background-image: url('../images/rsz_woman-writing-on-a-notebook-beside-teacup-and-tablet-733856.jpg');
  background-size:cover;
  height: 60vh;
  //position: relative;

.container {
  .row {
   width: 75%;
   float: right;
   text-align: center;
   line-height: 80px;
   background-color: rgba(0, 0, 0, 0.6);
  }

  .button {
    font-size: 30px;
    color: white;
    font-weight: bold;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.6);
    float: left;
    line-height: 80px;
  }

  .link {
    color: $color-pallete-4;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: $color-pallete-2;
      text-decoration:underline 
    }

    &:not(:last-child) {
      padding-right: 30px;
    }

  }
}
}