@import '../styles/global';

.container {
  width: $container-width;
  background-color: $color-pallet-background;

  .content {
    text-align: center;
    a {
      color: white;
    }
 
    @media screen and (min-width: 1px) and (max-width: 1000px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
      /* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
 
  
  //height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

// Footer Styling

.footercontainer {
  padding: 50px;
  background-color: #393451;
  min-height: 270px;
}
.footercolumns{
  width: 50%;
  float: left;
  background-color: #393451;
}
.footercontact {
  color: #e5a191;
  margin-top: 0px;
  margin-bottom: 15px;
}
.footermail{
  margin-bottom: 88px;
  a {
    color: #FFFFFF;
    font-size: 26px;
  }
  a:hover{
    color: #e5a191;
  }
}
.footerlogo {
  margin-bottom: 88px;
  margin-top: 0px; 
  text-align: right;
}
.footernavigation {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  li{
    float: left;
  }
  a{
    color: #FFFFFF;
    text-decoration: none;
    padding: 0px 12px;
  }
  a:hover {
    color: #e5a191;
  }
}

.scrolltop {
  color: #FFFFFF;
  font-size: 18px;
  border-bottom: 2px solid #e5a191;
  padding-bottom: 5px;
  text-decoration: none;
  
}
.scrolltop:hover{
    color: #e5a191;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
}
@media (max-width: 768px){
  .footercolumns {
    float: none !important;
    width: 100% !important;
    min-height: 250px;
    text-align: center;
    .footerlogo{
      text-align: center;
    }
    .footernavigation {
      line-height: 2.5em;
      float: none;
      li{
        float: none;
       // text-align: center;
      }
    }
  }
      .column {
        float: none !important;
        width: 100%;
      }
      img {
        width: 30%;
      }
}
@media (max-width: 375px){
  .footercolumns {
    float: none !important;
    width: 100% !important;
    min-height: 250px;
    text-align: center;
    .footerlogo{
      text-align: center;
    }
    .footernavigation{
      line-height: 2.5em;
      li{
        float: none;
      }
     
      
    }
  }
}
  @media (max-width: 414px){
    .footercolumns {
      float: none !important;
    width: 100% !important;
    min-height: 250px;
    text-align: center;
      .footerlogo {
        text-align: center;
      }
      .footernavigation {
        line-height: 2.5em;
        li{
          float: none;
        }
      }
    }
  }
    @media (max-width: 375px){
      .footercolumns {
        float: none !important;
        width: 100% !important;
        min-height: 250px;
        text-align: center;
        .footerlogo {
          text-align: center;
        }
        .footernavigation {
          line-height: 2.5em;
          li{
            float: none;
          }
        }
      }
    }
    @media (max-width: 320px){
      .footercolumns {
        float: none !important;
        width: 100% !important;
        min-height: 250px;
        text-align: center;
        .footerlogo {
          text-align: center;
        }
        .footernavigation {
          line-height: 2.5em;
          li{
            float: none;
          }
        }
      }
    }
    @media (max-width: 411px){
      .footercolumns {
        float: none !important;
        width: 100% !important;
        min-height: 250px;
        text-align: center;
        .footerlogo{
          text-align: center;
        }
        .footernavigation {
          line-height: 2.5em;
          li{
            float: none;
          }
        }
      }
    }
