@import '../styles/global';

.container {
  padding-bottom: 10px;
  margin-bottom: 30px;
  text-align: center;

  color: $color-pallete-9;

  .title {
    font-size: 18px;
    line-height: 60px;
    color: $color-pallete-1;
  }

  .subtitle {
    font-size: 18px;
    font-weight: 100;
  }
}
